<section class="masthead">
  <div class="language-nav">
    <ul>
      <li>
        <a href="">CSS</a>
      </li>
      <li>
        <a href="">HTML</a>
    </li>
      <li>
        <a href="">Javascript</a>
    </li>
    <li>
        <a href="">Ruby</a>
    </li>
  </ul>

</div>
<div>
  <img class='logo'src="assets/AA_Times_Logo.png" alt="logo">

</div>
  <br>
  <ul class="masthead-links">
    <span>
      Tuesday, October 18, 2016
    </span>
    <li>
				<!-- <i class="fa fa-cog"></i> -->
      <i class="fa fa-newspaper"></i>
      <a href="">Today’s Paper</a>
    </li>
    <li>
      <i class="fa fa-video"></i>
      <a href="">Video</a>
    </li>
    <li class="ds">
      77°F
    </li>
    <li class="ds">
      AAO <strong>+100%</strong>
    </li>
  </ul>

</section>
